body {
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: none;
}
.intro h1 {
  margin-top: 0;
}
._active {
  display: block;
}
.user-input {
  width: 90%;
  max-width: 500px;
}
.user-input textarea {
  width: 90%;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 1rem;
}
.user-input .generateBtn {
  margin-top: 0.8rem;
}
.select-songs {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 500px;
}
.song-btn {
  margin: 0.2rem;
}
.song-btn.selected {
  background-color: #5f5f5f;
  color: #fff;
}
.next_btn {
  margin-top: 1rem;
}

.canvas {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 500px;
}

.word-card {
  margin-right: 0.3rem;
}

.resetBtn {
  margin-top: 1rem;
}
