body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
#intro {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#poemSelect {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 500px;
}
#poemSelect button.selected {
  background-color: #5f5f5f;
  color: #fff;
}
#poemSelect button {
  margin: 0.5rem auto 0;
}
#startBtn {
  margin-top: 2rem;
}
.canvas {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: none;
  margin-bottom: 1rem;
}
.word {
  position: absolute;
  cursor: pointer;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  user-select: none;
  font-size: 1.3rem;
}
.poem-output {
  display: none;
  margin-bottom: 1rem;
}
#poemOutput span {
  margin: 2px;
  border-bottom: 1px solid #555;
}
.final-wrap {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 500px;
  min-width: 300px;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  transform: translateY(-50%);
}
.final-wrap .tit {
  font-size: 1.5rem;
}
.final-wrap .final-poem {
  margin-top: 1rem;
  background-color: #333;
  color: #fff;
}
.final-wrap .final-poem span {
  margin-top: 1rem;
  margin-right: 0.3rem;
}
.final-wrap .retryBtn {
  margin-bottom: 1rem;
}
.timer {
  font-size: 2rem;
  display: none;
  margin-top: 1rem;
}
