.stage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.word-map {
  width: 100%;
  height: 100%;
}
.here_point {
  color: #333;
  font-weight: bold;
}
/* 단어 애니메이션 */
/* 전체 단어 기본 스타일 */
.word {
  position: absolute;
  transition: all 0.2s ease;
  white-space: nowrap;
}

/* 홀수 단어 왼쪽으로 흐름 */
.word:nth-child(odd) {
  animation: floatLeft 10s linear infinite;
}

/* 짝수 단어 오른쪽으로 흐름 */
.word:nth-child(even) {
  animation: floatRight 12s linear infinite;
}

/* 왼쪽으로 흐르는 키프레임 */
@keyframes floatLeft {
  0% {
    transform: translateX(0) rotate(var(--rot, 0deg));
  }
  50% {
    transform: translateX(-20px) rotate(var(--rot, 0deg));
  }
  100% {
    transform: translateX(0) rotate(var(--rot, 0deg));
  }
}

/* 오른쪽으로 흐르는 키프레임 */
@keyframes floatRight {
  0% {
    transform: translateX(0) rotate(var(--rot, 0deg));
  }
  50% {
    transform: translateX(20px) rotate(var(--rot, 0deg));
  }
  100% {
    transform: translateX(0) rotate(var(--rot, 0deg));
  }
}
/* 시 목록 */
.poem_list {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poem_list select {
  width: 100%;
  padding: 5px;
}
.poem_list-btn {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  margin-right: -0.2rem;
  margin-top: -0.2rem;
  cursor: pointer;
  display: none;
}
.poem_list-btn::before {
  content: "▶️";
}
.poem_list-btn.close::before {
  content: "◀️";
}
.poem_list-wrap {
}
.poem_list_wrap.close {
  width: 0 !important;
  padding: 0 !important;
}
.menu-box {
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  max-width: 700px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 15px;
}
.menu-btn {
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
  top: -2rem;
  left: 0;
  font-size: 1.5rem;
}
.menu-box.close {
  padding: 0;
  border: none;
}
.menu-box.close .stanza {
  height: 0;
  overflow: hidden;
}
.menu-btn::before {
  content: "🔽";
}
.menu-btn.close::before {
  content: "🔼";
}
.btn_wrap button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
